ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #FFFFFF;
    background: #4D5AE5;
}

button:hover,
button:focus {
    background: #404BBF;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    background-color: #FFFFFF;
}
/* ============== HEADER STYLES ============== */
.logo {
    font-family: Raleway,sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #4d5ae5;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
}

.menu {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2E2F42;
}

.menu:hover,
.menu:focus {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #404BBF;
}

.contact {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.contact:hover,
.contact:focus {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #404BBF;
}
/* ============== /HEADER STYLES ============== */
h1 {
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: left;
    color: #FFFFFF;
}

.ef-solution {
    background-color: #2E2F42;
}

h2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1111;
    letter-spacing: 0.02em;
    text-align: left;
}

h3 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.team-page {
    background-color: #F4F4FD;
}
footer {
    color: #F4F4FD;
    background-color: #2E2F42;
}